# Streamlit secrets
.streamlit/secrets.toml

# Excel Database (Contains real/test data)
datos_albergue.xlsx

# Python cache & Environment
__pycache__/
*.py[cod]
*$py.class
*.venv
venv/
env/
.env

# System files
.DS_Store
